header{
       background-color: #0A1451;
       color: #FFFFFF;
       display: flex ;
}

        .imagem-logo {
        width:  50px;

        height: 50px;

        margin: 20px;

        padding: 20px;

       }
       .lista-cabecalho {
           display: flex;

       }
       .Cesaf-portao {
        width: 20%;
        Height: 20%;
    }
    .colegio{
        font: green;
    }
